@import url('@radix-ui/colors/blue-dark.css'); /* Cambiado */
@import url('@radix-ui/colors/mauve-dark.css');


/* Estilos para el modo claro */
.light-editor {
  --accentBase: hsl(217.2 91.2% 59.8%);
  --accentText: hsl(0 0% 98%);
  --baseText: hsl(0 40% 8%);
  --basePageBg: hsl(0 0% 100%);
  background-color: var(--basePageBg);
  color: var(--baseText);
}
/* Estilos para el modo oscuro */
.dark-editor {
  --accentBase: hsl(217.2 91.2% 59.8%);
  --accentText: hsl(210 40% 98%);
  --baseText: hsl(210 40% 98%);
  --basePageBg: hsl(222.2 84% 4.9%);
  background-color: var(--basePageBg);
  color: var(--baseText);
}

/* Estilos generales para el contenido */
.prose {
  color: var(--baseText);
  background-color: var(--basePageBg);
}

/* Títulos */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--baseText);
}

/* Texto en negrita */
.prose strong {
  color: var(--baseText);
  font-weight: bold;
}

/* Texto subrayado */
.prose u {
  color: var(--baseText);
  text-decoration: underline;
}

/* Enlaces */
.prose a {
  color: var(--accentBase);
  text-decoration: underline;
}

/* Tablas */
.prose table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--basePageBg);
  color: var(--baseText);
}

.prose th,
.prose td {
  border: 1px solid var(--accentBase);
  padding: 0.5rem;
}

/* Bloques de código */
.prose pre {
  background-color: var(--accentBase);
  color: var(--accentText);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

/* Tooltips e íconos */
.mdxeditor-popup-container {
  background-color: var(--basePageBg);
  color: var(--baseText);
  border: 1px solid var(--accentBase);
}